.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}

.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  min-width: 16rem;
  height: 9rem;
  line-height: 9rem;
  text-align: center;
}

.mag-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  min-width: 9rem;
  height: 16rem;
  line-height: 16rem;
  text-align: center;
}

.avatar {
  min-width: 16rem;
  height: 9rem;
  display: block;
}

.mag {
  min-width: 9rem;
  height: 9rem;
  display: block;
}

::-webkit-scrollbar{
  width: 10px;
  height:10px;
}

::-webkit-scrollbar-thumb{
  background-color: #a1a3a9;
  border-radius: 3px;
}